body {
	font-family: "Trebuchet MS", sans-serif;
}

img {
	position: relative;
	top: 2px;
	max-width: 100%;
	margin: 0;
	border: 0;
}
a {
	padding: 0;
	margin: 0;
}
.cell {
	width: 18%;
	padding: 3px;
	min-width: 256px;
}