body{
	background-color: #000000;
	font-family: "Trebuchet MS", sans-serif;
}
p {
	background-color: #00888E;
	padding: 1em;
	color: #FFFFFF;
}
a:visited {
	color: #EB9E00;
}
a:link {
	color: #EB6C00;
}
a:hover {
	color: #EB0600;
}
.header {
	font-weight: bold;
	font-size: 120%;
}
.header a {
	color: #FFFFFF;
	text-decoration: none;
}
.info {
	font-size: 75%;
}
img {
	width: 320px;
  max-width: 100%;
}